{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    body {
        background: url("{% static 'todo/edit.jpg' %}") no-repeat center center fixed;
        background-size: cover;

        /* background-image: url("{% static 'todo/list.jpg' %}");
        background-repeat: no-repeat; */
    }
</style>
<div class="continer">

    <form method="POST">
        {% csrf_token %}
        <br>
        <h1>Edit Task</h1>
        <hr>
        <p>Task</p>
        <input type="text" class="form-control" name="task" value="{{task}}">
        <br>
        <p>Content</p>
        <textarea class="form-control" name="desc">{{desc}} </textarea>
        <br>
        <button type="submit" class="btn btn-success">Save Changes</button>
        <input type="submit" onclick="window.location='{% url 'todo:items' %}' ; return false;" value="Cancel">
    </form>
</div>
{% endblock %}